@font-face {
  font-family: 'RobotoSlab';
  src: url('./fonts/RobotoSlab-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoSlab', monospace;
}

body {
  display: flex;
  height: 100vh;
}